header {
    background-color: cornflowerblue;
    color: white;
    border-bottom: 5px solid rgb(14, 48, 112);
}

#headerText {
    margin: auto;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    margin: 5px;
    font-size: 22px;
}

h1 {
    margin: 0;
    padding: 5px;
    display: inline-block;
    background-color: rgb(14, 48, 112);
}

body {
    margin: 0;
    font-family: 'Times New Roman', Georgia, serif;
    background-color: #e0ebfc;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%236495ed' fill-opacity='0.39'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");}

main{
    margin: auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    color: white;
}

#headshot {
    max-height: 200px;
    max-width: 200px;
    float: left;
    margin-right: 15px;
    box-shadow: 5px 5px 15px 2px black;
}

h2 {
    margin: 10px;
}

h3{
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.logos {
    max-width: 40px;
    margin: 0px 5px;
}

.divider {
    margin: 5px;
    display: inline-block;
}

section > a {
    text-decoration: none;
}

footer {
    align-items: center;
    background-color: cornflowerblue;
    color: white;
    padding: 5px;
    text-align: center;
    border-top: 5px solid rgb(14, 48, 112);
}

#about {
    border-radius: 20px;
    margin: 20px;
    margin-left: 0;
    background-color: cornflowerblue;
    padding: 5px;
    max-width: 530px
}

#connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    margin: 20px 0px;
    padding: 10px;
    max-height: 100px;
    border-radius: 20px;
}

#logosContainer {
    display: flex;
    justify-content: center;
}

hr {
  width: 100%;
}

a {
    color: rgb(14, 48, 112);
}